{{#if addLocation}}
  <h3>Add a new Stargazer location for us:</h3>
  <div class="add-location">
    <form {{action 'saveLocation' on='submit'}}>
      <div class="form-group">
        <label for="image">Image:</label>
        {{input value=image id="image" placeholder='Image URL'}}
      </div>

      <div class="form-group">
        <label for="name"> Stargazing Location:</label>
        {{input value=name id="name" placeholder='Site name'}}
      </div>

      <div class="form-group">
        <label for="directions">Directions to the site:</label>
        {{textarea cols=30 rows=6 value=directions id="directions" placeholder='driving and/or trail directions'}}
      </div>

      <div class="form-group">
        <label for="description">Description of the site:</label>
        {{textarea cols=30 rows=6 value=description id="description" placeholder='describe the view/experience/ landmarks of note'}}
      </div>

      <div class="form-group">
        <label>Is this site public?  If so, check here --> </label>
        {{input type="checkbox" name='locationPub' checked=locationPub}}
      </div>

      <button class="btn add-location-btn">Add a Location</button>
    </form>
  </div>
{{else}}
  <button {{action 'locationFormShow'}}>Add Location</button>
{{/if}}
