
{{skyglow-map}}

<div class="weather">
</div>

<div class="location-display">
{{#each model as |model|}}
  <h3>Great locations where you can stargaze:</h3>
  <h4>{{model.name}}</h4>
  <h5>{{model.description}}</h5>
  <div>
    <img class="locationImage" src={{model.image}} alt={{model.name}}>
  </div>
  <h5>Rating: {{model.rating}}</h5>
{{/each}}
  <button {{action 'test'}}>test</button>
</div>
