<ul>
  <h2>Current Weather</h2>
  {{#each model as |city|}}
  <li>{{city.description}}</li>
  <!-- <li>{{city.pressure}}</li>
  <li>{{city.humidity}}</li>
  <li>{{city.temp_min}}</li>
  <li>{{city.temp_max}}</li> -->
{{/each}}
</ul>

{{#link-to 'index'}}Home{{/link-to}}
