<ul>
  <h2>Current Weather</h2>
  <li>Temperature: {{model.temp}}&deg;</li>
  <li>Low: {{model.temp_min}}&deg;</li>
  <li>High: {{model.temp_max}}&deg;</li>
  <li>Pressure: {{model.pressure}}</li>
  <li>Humidity: {{model.humidity}}&percnt;</li>
</ul>

{{#link-to 'index'}}Home{{/link-to}}
